@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,700&display=swap');

:root {
  --clr-neutral: rgb(132, 68, 0);
}
body {
  font-family: 'Lora', serif;
  overflow-x: hidden;
  background-color: white;
}

/* header */
a:hover:not(.page-3 > .wrapper-content > a) {
  color: rgb(132, 68, 0) !important;
}
header {
  width: 100%;
  position: fixed;
  z-index: 99999;
  color: white;
  transition: all 0.5s linear;
}

header[aria-expanded="true"] {
  margin-inline: 0;
  padding: 0;
}

header[aria-expanded="true"] .nav-tab {
  background-color: white;
  transition: all 0.8s ease-in;
  border-bottom: 1px solid black;
}

header[aria-expanded="true"] .nav-tab a {
  color: black;
}

.wrapper-nav {
  margin-top: 5em;
  padding: 5em 3em;
  display: flex;
  justify-content: center;
}

.wrapper-nav ul {
  text-align: center;
  flex-direction: column;
  gap: -1em;
}
.wrapper-nav a {
  color: #393939;
  font-size: 4rem;
  font-weight: 100;
  
}

ul[role="list"] {
  align-items: center;
}
.nav-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  z-index: 1;
  width: 100%;
  position: absolute;
}

.navchange a {
  color: black;
}
header .nav-tab nav ul {
  display: flex;
  gap: 2em;
}
.menu {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.menu > img {
  cursor: pointer;
}
.menu > h1 {
  font-size: 2rem;
  transition: all 1s ease;
  font-weight: 700;
}

.nav-holder {
  transition: all 0.5s ease;
  opacity: 1;
  position: absolute;
  background-color: #f4f1ed;
  width: 100%;
  color: rgb(0, 0, 0);
  transform: translateY(-43em);
  height: fit-content;
  transition: all 0.5s cubic-bezier(2, 1, 3, 1);
}

.nav-holder[data-visible="true"] {
  opacity: 1;
  transform: translateY(0em);
}
/* header end */
/* ---- */
section {
  background-color: black;
}

section:not(.headpage) {
  background-color: white;
}
.headpage {
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
}
.bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
}

.bg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.headpage > .title {
  color: white;
  text-align: center;
  z-index: 1;
  font-weight: 700;
}

.headpage > .title > h1 {
  font-size: clamp(5rem, 10vw, 9rem);
  margin-bottom: -0.3em;
}

@media screen and (max-width: 640px) {
  .wrapper-nav ul a {
    font-size: 12vw;
  }
}

/* second page */
.secondpage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.page-2-content {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.page-2-content > picture {
  max-width: 40em;
  padding-top: 5em;
}

.page-2-content > picture > img {
  margin-top: 40%;
}

.title-content {
  margin-top: 15%;
}
.title-content > h1 {
  font-size: clamp(2rem, 8vw, 4rem);
  color: var(--clr-neutral);
}

.title-content > p {
  font-size: clamp(1rem, 5vw, 2rem);
  font-weight: 200;
  font-style: italic;
}
.wrapper-content {
  padding: 9em 2em;
}
.blursection {
  filter: brightness(0.5);
  transition: filter 0.5s ease-in-out;
}

@media screen and (max-width: 836px) {
  .page-2-content {
    display: flex;
    flex-direction: column;
  }

  .page-2-content > picture > img {
    margin-top: 0;
  }
}
/* ACCOMODATIONS */
.page-3 {
  display: grid;
  place-items: center;
  text-align: center;
  position: relative;
}

.wrapper-content {
  width: 100%;
}

.title-3 {
  text-align: center;
  font-size: clamp(2rem, 8vw, 4rem);
  margin-bottom: 2%;
  font-weight: 500;
  color: var(--clr-neutral);
}
.card-container {
  display: flex;
  gap: 1em;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
}
.page-3 .card {
  width: clamp(20em, 30vw, 30em);
}
.card {
  background-color: transparent;
  padding: 1em;
  cursor: pointer;
  border: 1px solid var(--clr-neutral);
}
.card-img > picture > img {
  transition: transform 0.5s ease;
}
/* .card-img:hover > picture > img{
  transform: scale(1.1);
} */
.card-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1em;
  font-size: 1rem;
}

.card-details > h1 {
  font-size: clamp(0.2rem, 4.2vw, 1.2rem);
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: break-all;
  white-space: normal;
}

.card-details > p {
  font-style: italic;
  color: gray;
  font-size: clamp(0.2rem, 4.2vw, 0.9rem);
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: break-all;
  white-space: normal;
}

.card-button {
  display: grid;
  place-items: center;
}
.card-button > button {
  width: 60%;
  /* border-radius: 0.5em;
  outline-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5em 1em;
  background-color: rgb(132, 68, 0);
  color: white;
  font-weight: 500;
  transition: all 0.5s ease; */
}
.card-button > button,
#moreButton {
  /* width: 20%; */
  background-color: transparent;
  outline: none;
  border: none;
  border: 1px solid var(--clr-neutral);
  padding: 1em;
  cursor: pointer;
}

.card-button > button:hover {
  background-color: black;
  color: white;
}
/* .card-button > button:hover{
  transform: scale(1.1);
  color: white;
  background-color: black;
} */

.card-img {
  position: relative;
  overflow: hidden;
}

.card-img picture img {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: contain;
}

.card-cart {
  position: absolute;
  top: 0;
  right: 0;
}

.page-3 > .wrapper-content > a {
  width: 60%;
  outline-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  background-color: rgb(132, 68, 0);
  color: white;
  font-weight: 500;
}

/* page-4 */
.page-4 {
  display: grid;
  place-items: center;
  position: relative;
}

.page-4 > button {
  padding: 1em 3em;
  cursor: pointer;
  background-color: white;
  color: var(--clr-neutral);
  border: 1px solid black;
  z-index: 1;
  transition: all 0.3s linear;
}

/* .page-4 > button:hover{
  transform: scale3d(1.3,1.2,1.3);
  color: var(--clr-neutral);
  background-color: white;
} */

/* background */
.headpage > .background-container {
  background: url("./assets/coffinmemeHD.gif") no-repeat;
  background-size: cover;
}

.page-4 > .background-container {
  background: url("./assets/chapel.jpg") no-repeat;
}

.cartPage > .background-container {
  background: url("./assets/cartbg.jpg") no-repeat;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center !important;
  background-size: cover !important;
  filter: brightness(50%);
}

/* products */
.prodWrapper {
  height: 100vh;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  font-size: clamp(3rem, 10vw, 9rem);
  color: white;
  z-index: 1;
}
.prodPage > .background-container {
  background: url("./assets/CoffinShopWarsaw.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.prodCategories {
  display: flex;
  justify-content: center;
  padding-top: 8em;
  align-items: center;
  gap: 3em;
  font-size: 1.2rem;
  flex-wrap: wrap;
}

label {
  background-color: var(--clr-neutral);
  color: white;
  padding: 0.3em 2em;
  border-radius: 1em;
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

.itemsPage > .prodContainer {
  display: flex;
  padding: 2em 0em;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5em;
}

.activeCategory {
  background-color: black;
}

.itemsPage > .prodContainer > .card {
  margin-top: 1em;
  width: clamp(20rem, 48%, 52rem);
  /* width: 48%; */
}

.scroll {
  transition: all 0.3s linear;
}

.scroll {
  position: relative;
  z-index: 1;
}

/* transition */
.hidden {
  opacity: 0;
  transition: all 0.8s linear;
  transform: translateY(150px);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(-150px);
}

main {
  display: flex;
  flex-direction: column;
  height: fit-content;
  /* overflow: hidden;
  max-height: 120em; */
}


/* footer */
ul[role="list"]{
  display: flex;
}
.footer-links > ul > li > a{
  background-color: black;
  display: block;
  padding: 0.5em;
}

.footer-links img {
  width: 2em;
}