@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600;700&display=swap");

:root {
  --clr-neutral: rgb(132, 68, 0);
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/* header */
a:hover:not(.card-cart > a, .page-3 > .wrapper-content > a) {
  color: rgb(132, 68, 0) !important;
}
header {
  width: 100%;
  position: fixed;
  z-index: 99;
  color: white;
  transition: all 0.5s linear;
}

header[aria-expanded="true"] {
  margin-inline: 0;
  padding: 0;
}

header[aria-expanded="true"] .nav-tab {
  background-color: white;
  transition: all 0.8s ease-in;
  border-bottom: 1px solid black;
}

header[aria-expanded="true"] .nav-tab a {
  color: black;
}

.wrapper-nav {
  margin-top: 5em;
  padding: 5em 3em;
  display: flex;
  justify-content: center;
}

.wrapper-nav ul {
  text-align: center;
  flex-direction: column;
  gap: -1em;
}
.wrapper-nav a {
  color: black;
  font-size: 4rem;
  font-weight: 100;
}

ul[role="list"]{
    align-items: center;
}
.nav-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  z-index: 1;
  width: 100%;
  position: absolute;
}

.navchange a {
  color: black;
}
header .nav-tab nav ul {
  display: flex;
  gap: 2em;
}
.menu {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.menu > img {
  cursor: pointer;
}
.menu > h1 {
  font-size: 2rem;
  transition: all 1s ease;
  font-weight: 700;
}

.nav-holder {
  transition: all 0.5s ease;
  opacity: 1;
  position: absolute;
  background-color: #f4f1ed;
  width: 100%;
  color: rgb(0, 0, 0);
  transform: translateY(-43em);
  height: fit-content;
  transition: all 0.5s cubic-bezier(2, 1, 3, 1);
}

.nav-holder[data-visible="true"] {
  opacity: 1;
  transform: translateY(0em);
}
/* header end */
/* ---- */
section {
  background-color: black;
}

section:not(.headpage) {
  background-color: #f4f1ed;
}
.headpage {
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
}
.bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
}

.bg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.headpage > .title {
  color: white;
  text-align: center;
  z-index: 1;
  font-weight: 700;
}

.headpage > .title > h1 {
  font-size: 9rem;
  margin-bottom: -0.3em;
}

@media screen and (max-width: 640px) {
  .wrapper-nav ul a {
    font-size: 12vw;
  }
  .headpage > .title > h1 {
    font-size: 20vw;
  }
}

/* second page */
.secondpage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-2-content {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.page-2-content > picture {
  max-width: 40em;
  padding-top: 5em;
}

.page-2-content > picture > img{
    margin-top: 40%;
}

.title-content{
    margin-top: 15%;
}
.title-content > h1 {
    font-size: clamp(2rem, 8vw, 4rem);
    color: var(--clr-neutral);
}

.title-content > p {
    font-size: clamp(1rem, 5vw, 2rem);
  font-weight: 200;
  font-style: italic;
}
.wrapper-content {
  padding: 2em;
}
.blursection {
  filter: brightness(0.5);
  transition: filter 0.5s ease-in-out;
}

@media screen and (max-width: 836px) {
    .page-2-content{
        display: flex;
        flex-direction: column;
    }

    .page-2-content > picture > img{
        margin-top: 0;
    }
    
}
/* ACCOMODATIONS */
.page-3 {
  display: grid;
  place-items: center;
  text-align: center;
}

.title-3 {
  text-align: center;
  font-size: clamp(2rem, 8vw, 4rem);
  margin-bottom: 2%;
  font-weight: 500;
  color: var(--clr-neutral);
}
.card-container {
  display: flex;
  gap: 1em;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 1em;
}
.card {
  max-width: 20em;
  background-color: white;
  padding: 1em;
  /* border-radius: 3em; */
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  font-size: 1rem;
}

.card-details > button {
  width: 60%;
  border-radius: 3em;
  outline-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5em 1em;
  background-color: rgb(132, 68, 0);
  color: white;
  font-weight: 500;
}
.card-img {
  position: relative;
  overflow: hidden;
}

.card-img picture img {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: contain;
}

.card-cart {
  position: absolute;
  top: 0;
  right: 0;
}

.page-3 > .wrapper-content > a {
  width: 60%;
  outline-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5em 1em;
  background-color: rgb(132, 68, 0);
  color: white;
  font-weight: 500;
}

/* page-4 */
.page-4{
    background: url('./assets/chapel.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}